<!DOCTYPE html>
<html>
<head>
  <title>ACHE Chairman and Board Members</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<script>
$(function(){
  $('#Container').mixItUp();  
  $('.pop').popup({on: 'click'});
    $('.poop').popup({on: 'hover'});
});
</script>
</head>

<body>
  <div class="ui grid aligned center">
    <div class="column twelve wide">
     <!--Devise Flash Div-->
    	<% flash.each do |name, msg| %>
    		<%= content_tag(:div, msg, class: "ui message blue") %>
    	<% end %> 
    </div>   
        <%= yield %>
        <%= render 'layouts/footer' %>
   </div>
</body>
</html>
