<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation" class="ui red message">
      <h2><strong>NO!</strong> You can't do that. Fix the <%= pluralize(@member.errors.count, "error") %> NOW, DO IT NOW!</h2>

      <ul>
      <% @member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="ui form">
    <div class="field">
     <%= f.text_field :name, placeholder: 'Enter Fullname and Credentials' %>
   </div>
  </div>
    <div class="ui form">
     <div class="field">
    <%= f.text_field :title, placeholder: 'Enter ACHE Title' %>
     </div>
  </div>

   <div class="ui form">
    <div class="ui six fields">
       <div class="field"  style="margin-right: 30px;">
         <%= f.select(:sort, options_for_select([['Chairman', 'chair'],['Governor', 'gov']])) %><br>
        <div class="ui pointing black label">Sort by</div> 
      </div>  

      <div class="field">
         <%= f.file_field :photo %><br>
         <div class="ui pointing black label">Upload Photo</div>
      </div>
    </div>
   </div>
    <br><br>
  <div class="actions">
    <%= f.submit class: 'ui button green small' %>
  </div>
<% end %>

