<div class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block lilnav">
<div class="ui vertical icon menu mini">
  <a href="/members/new" class="blue item">
    <i class="add sign box icon"></i>
  </a>
  <a href="/" class="blue item">
    <i class="list layout icon"></i>
  </a>
  <a href="/admins/sign_out" data-method="delete" class="blue item">
    <i class="sign out icon"></i>
  </a>
</div>
</div>

<div class="ui column twelve wide">
 <h1 style="text-align:left;">Current Members</h1>
    <table class="ui table collapsing segment">
      <thead>
        <tr>
          <th>Photo</th>
          <th>Name</th>
          <th>Title</th>
          <th>Sort</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @members.each do |member| %>
          <tr>
            <td><%= image_tag member.photo.url %></td>
            <td><strong><%= member.name %></strong></td>
            <td><strong><%= member.title %></strong></td>
            <td><strong><%= member.sort %></strong></td>
             <td><div class="ui tiny buttons">
              <div class="ui button"><%= link_to 'Edit', edit_member_path(member) %></div>
             <div class="or"></div>
              <div class="ui button "><%= link_to 'Delete', member, method: :delete, data: { confirm: 'Are you sure?' } %></div>
             </div></td>
          </tr>
        <% end %>
      </tbody>
        <tfoot>
        <tr>
        	<th colspan="7">
        		<div class="ui buttons">
                <%= link_to 'New Member', new_member_path, class: 'ui button twitter' %>
    		        <%= link_to 'Sort List', root_path, class: 'ui button twitter' %>
            </div> 
            </th>
        </tr>
        </tfoot>	
    </table>
 </div>
 
 <div class="column four wide structions visible-lg-inline">
  <h4 class="ui top attached header"><i class="circular info icon red small"></i> Heads Up</h4>

  <div class="ui segment attached">
    <p>When a new Board Member is added it will be shown on the <%= link_to 'home page', root_path, style: 'color:#4092cc;' %> and in the table to the left. Any edits, updates or deletions will be reflected in both places.
    <p>The list to left allow you to edit, update, delete or add new Board Members.</p>
  </div>
  <div class="ui bottom attached header aligned center">
   <div class="ui buttons mini">
        <%= link_to 'New Member', new_member_path, class: 'ui button twitter' %>
        <%= link_to 'Sort List', root_path, class: 'ui button twitter' %>
   </div> 
 </div>

</div>

        
     

        

